# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual env
.venv/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
htmlcov/
.coverage
.pytest_cache/

# mypy
.mypy_cache/

# ruff
.ruff_cache/
